body {
    font-family: Arial, sans-serif;
    background-color: #27408c;
    line-height: 1.6;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.main-info {
    background: #e7e7e7;
    padding: 20px;
    text-align: center;
}
.main-info h1 {
    margin: 0;
}
.int, .por, .res{
    background: #e7e7e7;
    padding: 15px;
    margin-bottom: 10px;
}
.image1 {
    border: 1px solid #27408c;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
}
.image1:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}